<h1>Add New List</h1>

<form action="/lists" method="post">
  <label for="description">List Description</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add List</button>
</form>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div>
